/practica5/ADPractiva4_v2/build/
/practica5/ADPractiva4_v2/dist/
/practica5/ADPractiva4_v2/nbproject/private/
/practica5/ADpractica2/build/
/practica5/ADpractica2/nbproject/private/
/practica5/ADpractica2_v2/build/
/practica5/ADpractica2_v2/nbproject/private/
/practica5/WebAppClient3.2_Remoto/nbproject/private/
/practica5/WebAppClient3.2_Remoto/build/